<table id="dataElements">
  {% include data-elements-headers.html %}
  <tr>
    <td>Two office visits within the past 12 months?</td>
    <td>No</td>
    <td>Look for a minimum of two distinct encounters within 12 months of the date of the current visit for which each of the following is true:<br />
      &#8226; the encounter diagnosis (primary or secondary or co-morbidity diagnosis) is listed in the CDC Malignant Cancer Conditions value set</td>
    <td>Office Visit</td>
  </tr>
  <tr>
    <td>Office visits with an oncology specialist present?</td>
    <td>No</td>
    <td>&#8226; The encounter is performed by an oncologist as defined in the oncology specialty designations using the National Uniform Claim <br />Committee (NUCC) classifications</td>
    <td>Oncology specialty designations (NUCC)</td>
  </tr>
  <tr>
    <td>Office visits including CDC malignant cancer condition?</td>
    <td>No</td>
    <td>&#8226; The encounter diagnosis (primary or secondary or co-morbidity diagnosis) is listed in the CDC Malignant Cancer Conditions value set</td>
    <td>CDC malignant cancer conditions</td>
  </tr>
</table>