<table class="list">
    <thead>
    <tr><th>Resource</th><th>Type</th><th>Description</th></tr>
    </thead>
    <tbody>
    <tr><td><a href="Library-omtklogic.html">Opioid Terminology Management Knowledgdebase Logic (OMTK) Library</a></td><td><a href="{{site.data.fhir.path}}library.html">Library</a></td><td>CQL Library that provides logic for implementation of opioid management functionality including Milligram Morphine Equivalents (MME).</td></tr>
    <tr><td><a href="cql/OMTKLogicCQL.cql">Opioid Terminology Management Knowledgebase Logic (OMTK)</a></td><td>CQL Source</td><td>For reference, the complete CQL source for the OMTK Logic Library.</td></tr>
    <tr><td><a href="elm/OMTKLogicCQL.xml">Opioid Terminology Management Knowledgebase Logic (OMTK)</a></td><td>ELM Source</td><td>For reference, the complete ELM source for the OMTK Logic Library.</td></tr>
    <tr><td><a href="Library-omtkdata.html">Opioid Terminology Management Knowledgdebase Data (OMTK) Library</a></td><td><a href="{{site.data.fhir.path}}library.html">Library</a></td><td>CQL Library that provides logic for implementation of opioid management functionality including Milligram Morphine Equivalents (MME).</td></tr>
    <tr><td><a href="cql/OMTKData2019.cql">Opioid Terminology Management Knowledgebase Data (OMTK)</a></td><td>CQL Source</td><td>For reference, the complete CQL source for the OMTK Logic Library.</td></tr>
    <tr><td><a href="elm/OMTKData2019.xml">Opioid Terminology Management Knowledgebase Data (OMTK)</a></td><td>ELM Source</td><td>For reference, the complete ELM source for the OMTK Logic Library.</td></tr>
    <tr><td><a href="Library-OpioidCDSCommon.html">Common Opioid Decision Support Logic</a></td><td><a href="{{site.data.fhir.path}}library.html">Library</a></td><td>CQL Library that provides common logic for the recommendations</td></tr>
    <tr><td><a href="cql/OpioidCDS_Common.cql">Common Opioid Decision Support Logic</a></td><td>STU3 CQL Source</td><td>For reference, the complete CQL source for the common logic.</td></tr>
    <tr><td><a href="elm/OpioidCDS_Common.xml">Common Opioid Decision Support Logic</a></td><td>STU3 ELM Source</td><td>For reference, the complete ELM source for the common logic.</td></tr>
