<table id="dataElements">
  {% include data-elements-headers.html %}
  <tr>
    <td>Opioid analgesics with ambulatory misuse potential prescription in past 90 days excluding the last 24 hours?</td>
    <td>No</td>
    <td>Look for an existing prescription (order) for opioid that is in the value set for opioid with ambulatory <br />misuse potential authored within the past 90 days (excluding the last 24 hours)</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
  <tr>
    <td>Opioid analgesics with ambulatory misuse potential reported as being taken excluding the last 24 hours?</td>
    <td>No</td>
    <td>Look for evidence of active medication on the medication list that is in the value set for opioid with <br />ambulatory care misuse potential (excluding the last 24 hours)</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
  <tr>
    <td>Opioid analgesics with ambulatory misuse potential dispensing event in past 90 days excluding the last 24 hours?</td>
    <td>No</td>
    <td>Look for evidence of a dispensing event for medication that is in the value set for opioid with ambulatory <br />use potential occurring within the past 90 days (excluding the last 24 hours)</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
</table>