<ul>
  <li>When</li>
    <ul>
      <li>Patient is 18 years and older and not receiving evidence-based treatment for opioid use disorder, which may include medication treatment with buprenorphine or methadone, or opioid-specific behavioral counseling</li>
      <li>Patient has a diagnosis of opioid use disorder in the past 90 days</li>
      <li>Patient has an order for or performance of substance misuse behavioral counseling in the past 90 days</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend opioid agonist or partial agonist treatment with methadone maintenance therapy, buprenorphine therapy, and/or behavioral therapy. Potential actions include:</li>
      <ul>
        <li>Order methadone or buprenorphine</li>
        <li>Refer to qualified treatment provider (i.e. substance disorder specialist)</li>
        <li>N/A - see comment; snooze 3 months</li>
      </ul>
    </ul>
</ul>
