<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Order for opioid analgesics with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Trigger based on a new prescription (order) for opioid analgesics with ambulatory misuse potential - ideally the
      prescription should be selected prior to being committed to the system</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
  <tr>
    <td>Order for benzodiazepine medications?</td>
    <td>Yes</td>
    <td>Trigger based on a new prescription (order) for opioids or benzodiazepines in the relevant value sets - ideally the
      prescription should be selected prior to being committed to the system</td>
    <td>Benzodiazepine medications</td>
  </tr>
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Receiving both opioid with ambulatory use potential and benzodiazepine?</td>
    <td>Yes</td>
    <td>New prescription is for an opioid and existing use of benzodiazepine evident, OR
      New prescription is for benzodiazepine and existing use of opioids evident</td>
    <td>Opioid analgesics with ambulatory misuse potential <br />Benzodiazepine medications</td>
  </tr>
</table>
