<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Order for opioid analgesics with with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Trigger based on a new prescription (order) for opioids in the relevant value set - ideally the prescription should be selected prior to being committed to the system</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
  {% include data-elements-acute-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Order for extended release opioid analgesics with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Determine if the new prescription (order) Extended release opioid for analgesics with ambulatory misuse potential</td>
    <td>Extended release opioid analgesics with ambulatory misuse potential</td>
  </tr>
  <tr>
    <td>Order for opioid analgesics with ambulatory misuse potential for &gt; 7 days?</td>
    <td>Yes</td>
    <td>Determine if the new prescription (order) has an intended duration of &gt; 7 days</td>
    <td>Opioid analgesics with ambulatory misuse potential</td>
  </tr>
</table>
