<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
        {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient is opioid naive:</li>
        {% include opioid-naive-functional-description.html %}
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend the use of nonpharmacologic therapy and nonopioid pharmacologic therapy as an alternative. Potential actions include:</li>
      <ul>
        <li>Document reason for opioid use</li>
        <li>Document that alternative therapy was attempted, snooze 3 months</li>
        <li>N/A - see comment, snooze 3 months</li>
        <li>Select from order set for alternative therapies</li>
        <li>Remove triggering medication</li>
      </ul>
    </ul>
</ul>
