<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>No evidence of current naloxone medications?</td>
    <td>Yes</td>
    <td>Find evidence of naloxone medication prescription (An active medication order for naloxone)</td>
    <td>Naloxone medications</td>
  </tr>
  <tr>
    <td>Currently receiving benzodiazepine medications?</td>
    <td>Yes</td>
    <td>Find evidence of benzodiazepine prescription (An active medication order for benzodiazepine)</td>
    <td>Benzodiazepine medications</td>
  </tr>
  <tr>
    <td>MME (morphine milligram equivalents &gt; 50)</td>
    <td>Yes</td>
    <td>Determine MME from existing active prescriptions (<a href="recommendation-05.html">recommendation 5</a>), or future scope; dispensed medications, or patient-recorded medications</td>
    <td></td>
  </tr>
  <tr>
    <td>History of conditions documenting substance misuse disorder?</td>
    <td>Yes</td>
    <td>Find evidence conditions documenting substance misuse in problem list or past medical history</td>
    <td>Conditions documenting substance misuse disorder</td>
  </tr>
</table>
