<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Opioid counseling procedure in past 90 days (including today)?</td>
    <td>No</td>
    <td>Search for presence in last 90 days of:<br />
      &#8226; Opioid counseling procedure for discussion of opioid harms and risks</td>
    <td>Opioid counseling procedure</td>
  </tr>
</table>
