<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient Morphine Milligram Equivalent (MME) greater than or equal to 50</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend to consider tapering dosage when MME is greater than or equal to 50 and less than 90 or taper dosage now when MME is greater than or equal to 90:</li>
      <ul>
        <li>Will reduce dosage</li>
        <li>Benefits outweigh risks, snooze 3 months</li>
        <li>Active pain, snooze 1 month</li>
        <li>N/A - see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>
