<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting:</li>
      <li>Provider is prescribing a benzodiazepine medication</li>
      <li>Opioid review is useful for this patient:</li>
      {% include opioid-review-useful-functional-description.html %}
      <li>Patient prescribed opioid analgesic with ambulatory misuse potential and benzodiazepine medication concurrently</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend to avoid prescribing opioid pain medication and benzodiazepine concurrently:</li>
      <ul>
        <li>Will revise</li>
        <li>Benefits outweigh risks, snooze 3 months</li>
        <li>N/A - see comment; snooze 3 months</li>
      </ul>
    </ul>
</ul>
