<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>Non-opioid drug urine screen test not performed within the last 12 months</td>
    <td>Yes</td>
    <td>No urine screening test performed within the last 12 months</td>
    <td>Non-opioid drug urine screen</td>
  </tr>
  <tr>
    <td>Opioid drug urine screen test not performed within the last 12 months?</td>
    <td>Yes</td>
    <td>No opioid drug urine screening test performed within the last 12 months</td>
    <td>Opioid drug urine screen</td>
  </tr>
  <tr>
    <td>Urine drug screen results contain cocaine or PCP?</td>
    <td>Yes</td>
    <td>Urine drug screen contains cocaine or PCP for 1 recommendation: Urine drug screen contains no cocaine or PCP for 2nd recommendation</td>
    <td>Cocaine or PCP result in urine drug screen</td>
  </tr>
</table>
