<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  {% include data-elements-opioid-naive.html %}
  <tr>
    <td>Pain treatment plan created or edited in past 90 days?</td>
    <td>No</td>
    <td>Look for a pain treatment plan that has been established or edited within the past 90 days (including the day of the visit). <br />
      The following criteria should be met: <br />
      &#8226; the treatment plan has an initiation date or an edited date within the past 90 days <br />
      &#8226; the treatment plan should have been created or reviewed within the past 90 days by the same individual who is writing the new prescription
    </td>
    <td>Pain treatment plan</td>
  </tr>
  <tr>
    <td>Pain management procedure in past 90 days?</td>
    <td>No</td>
    <td>&#8226; Look for a pain management procedure (including the procedure to review a pain management treatment plan that occurred within the past 90 days (including the day of the visit).</td>
    <td>Pain management procedure</td>
  </tr>
</table>
