<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid with ambulatory misuse potential in the outpatient setting</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
      {% include opioid-review-useful-functional-description.html %}
      <li>Patient is opioid naive:</li>
      {% include opioid-naive-functional-description.html %}
      <li>Patient does not have an opioid treatment plan that was created, edited, or reviewed by the prescribing physician in the past 90 days</li>
      <li>Patient does not have a pain management procedure in the past 90 days</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend creation, review or update of an opioid treatment plan. Potential actions include:</li>
      <ul>
        <li>Create treatment plan with goals for opioid use</li>
        <li>Update patient’s opioid treatment plan</li>
        <li>Review patient’s opioid treatment plan</li>
        <li>N/A - see comment, snooze 3 months</li>
        <li>Taper / Discontinue opioid</li>
      </ul>
    </ul>
</ul>
