<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
      <li>Opioid review is useful for this patient:</li>
      {% include opioid-review-useful-functional-description.html %}
      {% include acute-pain-definition.html %}
      <li>Prescription is for more than 7 days or for an extended release opioid</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend limiting therapy to no more than 3 days with an absolute maximum of 7 days and limit to immediate release opioids. Potential actions include:</li>
      <ul>
        <li>Change order to &le; 7 days</li>
        <li>Document reason for not limiting therapy; snooze 3 months</li>
        <li>N/A - see comment; snooze 3 months</li>
      </ul>
    </ul>
</ul>
