<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting:</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient is not currently prescribed naloxone medications</li>
      <li>Factors that increase risk for opioid overdose are present:</li>
      <ul>
        <li>Concurrent benzodiazepine use</li>
        <li>High opioid dosages (MME/day >= 50)</li>
        <li>History of substance abuse</li>
      </ul>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend performing opioid misuse assessment:</li>
      <ul>
        <li>Will offer naloxone medications</li>
        <li>Benefits outweigh risks, snooze 3 months</li>
        <li>N/A - see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>
