<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient has not undergone an opioid misuse assessment procedure in the last 90 days</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend performing opioid misuse assessment:</li>
      <ul>
        <li>Will schedule opioid misuse assessment</li>
        <li>Benefits outweigh risks, snooze 3 months</li>
        <li>N/A - see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>
