<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Age &ge; 18?</td>
    <td>Yes</td>
    <td>Age greater than or equal to 18 years</td>
    <td></td>
  </tr>
  <tr>
    <td>Presence of diagnosis of opioid misuse disorders in past 90 days?</td>
    <td>Yes</td>
    <td>Look for an active condition of opioid misuse disorder</td>
    <td>Opioid misuse disorders</td>
  </tr>
  <tr>
    <td>Order for buprenorphine or methadone medications in the past 90 days?</td>
    <td>No</td>
    <td>A prescription (order) for buprenorphine or methadone medications in past 90 days</td>
    <td>Buprenorphine and methadone medications</td>
  </tr>
  <tr>
    <td>Order for or performance of substance misuse behavioral counseling?</td>
    <td>No</td>
    <td>A prescription (order) or performance of substance misuse behavioral counseling</td>
    <td>Substance misuse behavioral counseling</td>
  </tr>
</table>
