<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  <tr>
    <td>Is this order for extended release opioid analgesics with ambulatory misuse potential?</td>
    <td>Yes</td>
    <td>Look for a new prescription for extended release opioids. [Ideally the order should be selected prior to being committed to the system]</td>
    <td>Extended release opioid analgesics with ambulatory misuse potential</td>
  </tr>
  {% include data-elements-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  {% include data-elements-opioid-naive.html %}
  <tr>
    <td>Immediate release opioid analgesic with ambulatory misuse potential</td>
    <td>N/A</td>
    <td>Recommend changing order to an immediate release opioid</td>
    <td>Immediate release opioid analgesics with ambulatory misuse potential</td>
  </tr>
</table>
