<table id="dataElements">
  {% include data-elements-intro.html %}
  {% include data-elements-headers.html %}
  {% include data-elements-chronic-pain.html %}
  {% include data-elements-opioid-review-useful.html %}
  <tr>
    <td>PDMP review procedure in past 90 days?</td>
    <td>No</td>
    <td>Look for evidence of a prescription drug monitoring program (PDMP) review procedure (may need to modify time
      interval for review based on local practice / regulation) [Evidence for the PDMP review procedure may potentially originate in
      a PDMP Smart App that provides the code once PDMP review procedure has been completed]</td>
    <td>PDMP review procedure</td>
  </tr>
  <tr>
    <td>PDMP data reviewed finding in past 90 days?</td>
    <td>No</td>
    <td>Documentation (i.e., a finding that PDMP review has occurred) in last 90 days (may need to modify time interval for review based on local practice / regulation)</td>
    <td>PDMP data reviewed finding</td>
  </tr>
</table>
