<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an opioid with ambulatory misuse potential in the outpatient setting</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
      {% include opioid-review-useful-functional-description.html %}
      <li>Patient does not have documented discussion of opioid harms and risks in the past 90 days, including today</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend counseling regarding potential opioid harms and risks. Potential actions include:</li>
      <ul>
        <li>Order counseling</li>
        <li>Document that counseling was provided</li>
        <li>Document the reason for not counseling; snooze 3 months</li>
        <li>N/A - see comment; snooze 3 months</li>
      </ul>
    </ul>
</ul>
