<ul>
  <li>When</li>
    <ul>
      <li>Provider is prescribing an extended release opioid analgesic with ambulatory misuse potential in the outpatient setting</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
        {% include opioid-review-useful-functional-description.html %}
      <li>Patient is opioid naive:</li>
        {% include opioid-naive-functional-description.html %}
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend use of immediate release opioids:</li>
      <ul>
        <li>Will prescribe immediate release opioid analgesic with ambulatory misuse potential</li>
        <li>Benefits outweigh risks, snooze 3 months</li>
        <li>N/A - see comment, snooze 3 months</li>
      </ul>
    </ul>
</ul>
