<ul>
  <li>When</li>
    <ul>
      <li>Order exists for an opioid analgesic with ambulatory misuse potential in the outpatient setting:</li>
      {% include chronic-pain-definition.html %}
      <li>Opioid review is useful for this patient:</li>
      {% include opioid-review-useful-functional-description.html %}
      <li>Urine drug screening has not been performed in last 12 months</li>
    </ul>
  <li>Then</li>
    <ul>
      <li>Recommend urine drug screening:</li>
      <ul>
        <li>Will perform urine screening</li>
        <li>Not for chronic pain management, snooze 3 months</li>
        <li>N/A - see comment; snooze 3 months</li>
      </ul>
    </ul>
  <li>When urine drug screening has been performed in last 12 months and was positive for cocaine or PCP</li>
  <ul>
    <li>Alert user with positive results with dates and number of negative results since the last positive result with subsequesnt negatives.</li>
    <li>Will perform urine screening more frequently</li>
    <li>Will assess patient for substance use disorder</li>
    <li>Will access CDS quality improvement and care coordination for prescribing opioids for chronic pain</li>
    <a href="https://www.cdc.gov/drugoverdose/pdf/prescribing/CDC-DUIP-QualityImprovementAndCareCoordination-508.pdf">CDC Guideline for Prescribing Opioids for Chronic Pain</a>
  </ul>
</ul>
